fastapi
uvicorn
pydantic[email]
python-multipart
python-dotenv
pyjwt
psutil
pytest
httpx
b2sdk
qdrant-client
fastembed
passlib[bcrypt]
pdfplumber
python-docx
langchain-core
langchain-google-genai
langchain-groq

pymysql
cryptography
resend==2.34.0
